#!/bin/bash -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Connector Questions
db_input low mcollective/connector || true
db_go

db_get mcollective/connector

CONNECTOR=$RET

if [ "$CONNECTOR" == "stomp" ]; then
	# Stomp Questions
	db_input low mcollective/plugin_stomp_host || true
	db_go

	db_input low mcollective/plugin_stomp_port || true
	db_go

	db_input low mcollective/plugin_stomp_user || true
	db_go

	db_input low mcollective/plugin_stomp_password || true
	db_go
fi

# Security Questions
db_input low mcollective/securityprovider || true
db_go

db_get mcollective/securityprovider

SECURITY_PROVIDER=$RET

if [ "$SECURITY_PROVIDER" == "psk" ]; then
	db_input low mcollective/plugin_psk || true
	db_go

	db_input low mcollective/plugin_psk_callertype || true
	db_go
fi

# Logging Questions
db_input low mcollective/logger_type || true
db_go

db_get mcollective/logger_type

LOGGER_TYPE=$RET

if [ "$LOGGER_TYPE" == "file" ]; then
	db_input low mcollective/logfile || true
	db_go

	db_input low mcollective/keeplogs || true
	db_go

	db_input low mcollective/max_log_size || true
	db_go
fi

db_input low mcollective/loglevel || true
db_go

# Fact Questions
db_input low mcollective/factsource || true
db_go

db_get mcollective/factsource

FACTSOURCE=$RET

if [ "$FACTSOURCE" == "yaml" ]; then
	db_input low mcollective/plugin_yaml || true
	db_go
fi

db_input low mcollective/fact_cache_time || true
db_go

# Misc Questions
db_input low mcollective/classesfile || true
db_go

db_input low mcollective/identity || true
db_go


